

body{
    scroll-behavior: smooth;
}

.Homepage-Container{
    border: 1px solid red;
     margin-top: 20px;
     height: auto;
}

.Container-tutorial{
     width: 90%;
     height: auto;
     margin: auto;
     display: flex;
     justify-content: space-between;
     gap: 5px;
}

.watch{
     width: 60vw;
     height: auto;
}

.wedding-card-background{
     width: 40vw;
      background-image: url("https://celebrare.in/assets/img/Group-1040.webp");
     background-size: cover;
     margin-left: 10px; 
}

.watch-container{
     justify-content: flex-start;
     width: 40vw;
     margin: auto;
     padding: 10px;
     margin-top: 50px;
}

.Heading{
     width: 400px;
     padding: 5px;
     line-height: 2.5rem;
     width: 38vw;
}

.Heading-summary{
    padding: 10px;
    line-height: 2rem;
}

.Heading-summary p{
    max-width: 27rem;
    font-family: "Poppins", sans-serif;
    margin-bottom: 1rem;
}

.button{
    padding: 1px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.button > button{
    width: 400px;
    font-size: 1rem;
    font-weight: 500;
    background: rgb(211, 211, 211);
    background: linear-gradient( 0deg, rgba(211, 211, 211, 1) 0%, rgba(255, 255, 255, 1) 50% );
    border: 2px solid gainsboro;
    margin-right: 1rem;
    font-size: 10px;
    letter-spacing: 2px;
    border-radius: 50px;
    font-weight: 700;
    transition: transform 0.5s;
    color: black;
    transition: scale 0.5s, background-color 0.5s;
}

.button >#tutorial{
    padding: 1rem 2rem;
    font-size: 12px;
    color: #fff;
    border: none;
    font-weight: 700;
    background: rgb(0, 118, 99);
    background: linear-gradient( 0deg, rgba(0, 118, 99, 1) 50%, rgba(0, 175, 146, 1) 100% );
    transition: transform 0.5s;

}

/* -------- rating ------- */

.rating-Container{
     box-shadow: 0 0 2px rgb(0 0 0);
    width: 90%;
    border-radius: 2rem;
    background-color: #fff;
    padding: 1rem 2rem;
    color: rgba(0, 0, 0, 0.8); 
    margin-left: 20px;
}

.rating-text{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: 600;
    color: #444;
    font-family: "Lora", serif;
}

.rating{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
    font-weight: 600;
    color: #444;
    font-family: "Lora", serif;
    padding: 10px;
}


.rating-image{
    margin: auto;
     display: flex;
     justify-content: space-around;
    align-items: center;
}

.rating-image >img{
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* ------ Browse-Trending ------ */

.Browse-Trending{
    /* border: 2px solid rgb(68, 26, 111); */
    height: 80vh;
    width: 90%;
    margin: auto;
}

.review-Description{
    /* border: 2px solid rgb(68, 26, 111); */
    height: 80vh;
    width: 90%;
    margin: auto;
}

.Browse-Trending > h1{
    padding: 15px;
    font-size: 1.5rem;
    color: #444;
    font-family: playfair;
    font-weight: 500;
    margin-left: 20px;
}


.Image-slider{
     /* border: 3px solid rgb(25, 207, 83); */
     margin-top: 30px;
     width: 90%;
     height: 60vh;
     margin: auto;
}

/* --------------- */

.img-box> img{
    width: 100%;
    height: 60vh;
}

.slide-contsiner .slide-content{
      padding: 0 15px;
      max-width: 1130px;
      margin: 0 auto;
}

.card_slider{
       padding: 20px 0;
}



.descriptionbox{
    border: 3px solid rgb(101, 101, 101);
    border-radius: 20px;
     width: 400px;
     height: 350px;
     margin: auto;
     gap: 30px;
     margin-left: 60px;
}

.user{
    width: 400px;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.userimage{
    width: 30%;
    height: 20vh;
}
.username{
    width: 70%;
    height: 20vh;
    padding: 10px;
}

.username > h2{
    font-size: 1.4rem;
  font-family: sans-serif 'Poppins';
  font-weight: 600;
  color : rgba(0, 0, 0, 0.727);
  line-height: 1.6rem;
  padding: 10px;
}

.username > h3{
    font-size: 1.2rem;
    font-family: sans-serif 'Poppins';
    font-weight: 600;
    color : rgba(0, 0, 0, 0.727);
    padding: 10px;
}

.userimage >img{
     width: 100%;
     border-radius: 50px;
     padding: 10px;
}
.about{
    width: 23rem;
    height: 15rem;
    min-width: 15rem !important;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.251); */
    border-radius: 1rem !important;
    font-family: "Poppins", sans-serif;
    padding: 1.5rem;
}

.about > h2{
  font-size: 1.2rem;
  font-family: sans-serif 'Poppins';
  font-weight: 500;
  color : rgba(0, 0, 0, 0.727);
  line-height: 1.6rem;
}


/* ------ biew all button  ------- */

.wedding-button{
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}

.wedding-button >#view:hover{
    background: rgb(11, 105, 89);
}

.wedding-button> #view{
    padding: 1rem 2rem;
     text-align: center;
      width: 30vw;
      border-radius: 50px;
      margin: auto;
    font-size: large;
    color: #fff;
    border: none;
    font-weight: 700;
    background: rgb(0, 118, 99);
    background: linear-gradient( 0deg, rgba(0, 118, 99, 1) 50%, rgba(0, 175, 146, 1) 100% );
    transition: transform 0.5s;
}



.Celebrare-description{
    /* border: 4px solid green; */
    width: 90%;
    margin: auto;
  font-family: "Lora" sans-serif ;
}



.heading h1::after {
    content: "-an initiative by Alumni of IIT Hyderabad";
    position: absolute;
    font-size: 1rem;
    bottom: -30px;
    right: 10px;
    font-weight: 600;
}

.heading> h1{
    margin: 4rem 0rem 3rem 0rem;
    text-align: center;
    position: relative;
    font-weight: 600;
}


.celeb-about > p{
    width: 85%;
    font-size: 1.2rem;
    margin: auto;
    margin-bottom: 0.5rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
}


.just{
    /* border: 4px solid red; */
     width: auto;
     margin: auto;
     text-align: center;
     margin-top: 50px;
}

.Simplestep{
    /* border: 3px solid blue; */
      display: flex;
      justify-content: space-around;
      gap: 10px;
      width: 70%;
      margin: auto;
      margin-top: 2rem;
      padding: 20px;
}

.simple{
    border: 1px solid gray;
    width: 250px;
    height: 250px;
    border-radius: 20px;
}

.simple p{
    width: 5vh;
    height: 5vh;
    margin: auto;
    margin-top: 4rem;
    border: 1px solid rgb(0, 132, 20);
    border-radius: 50%;
    background-color: rgb(221, 255, 244);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simple > h2{
    font-size: 1.2rem;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
}


       /* ---------------------    Text Us     --------------------- */

       .text-us{
        width: 80%;
        margin: auto;
        height: 30vh;
        margin-bottom: 10rem;
        padding: 40px;
       }

       .text-line{
        
          display: flex;
          justify-content: space-between;
          gap: 5px;
          padding: 10px;
       }

       .text-line > div{
        background-color: rgb(192, 230, 226);
        padding: 0.3rem 1.2rem 0.3rem 1.2rem;
        border-radius: 1rem;
        position: relative;
        font-family: "Poppins", sans-serif;
       }
       .text-line > div h2{
         font-size: 1.2rem;
         font-weight: 400;
       }

       .meassage{
        border: 2px solid rgb(209, 209, 209);
         margin: auto;
         text-align: center;
         width: 200px;
         border-radius: 50px;
         padding: 10px;
       
       }
       
       .meassage > h2{
         font-weight: 600;
       }



@media screen and (max-width:1024px) {
    .Container-tutorial{
         width: 95%;
         margin: auto;
    }
    .watch{
         width: 80vw;
    }
    .wedding-card-background{
         width: 20vw;
    }
    .watch-container{
        width: auto;
    }
    
}

@media screen and (max-width:667px) {
     .Container-tutorial{
         flex-direction: column;
     }
  .Heading{
   text-align: center;
   margin: auto;
   width: auto;
   }
   .button{
     flex-direction: column;
     
   }
   .button> button{
    width: 300px;
    height: 40px;
    font-size: 1rem;
   }
   .button > #tutorial{
     width: 300px;
     font-size: 1rem;
   }
    .rating-Container{
        margin-top: 2rem;
         width: 100%;
    }
    .rating-text{
      font-size: 1rem;
    }
    .rating{
        font-size: 10px;
    }
    .rating-image > div > img{
         width: 50px;
    }
    .Heading-summary{
        text-align: center;
    }
   
    .wedding-button > #view{
         width: 70vw;
    }

    .Simplestep{
        flex-direction: column;
        margin: auto;
    }
}

@media screen and (max-width:770px) {
    .text-line{
        display: none;
     }
}