*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

body ,html{
    width: 100%;
    height: fit-content;
}

.nav{
    margin-top: 5px;
     height: 9vh;
     width: 90vw;
     border-radius: 10px;
     font-family: "Lora", serif;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.217);
    /* border-top: 1px solid rgba(31, 31, 31, 0.534); */
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.747);
     position: fixed;
     z-index: 1;
     background-color: #fff;
}

.header-container{
    height: 9vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center !important;
    margin-top: 0.6rem;
    padding: 0rem 1rem;
    border-radius: 0px 1rem 1rem 0px;
    font-family: "Lora", serif;
    backdrop-filter: blur(10px);
}

.header-category-img > img{
     width: 90px;
     height: 29px;
     margin-left: 10px;
     margin-top: 10px;
}

.header-category{
    text-align: start;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: playfair;
    color: #000000;
}

.header-category > a{
    text-decoration: none;
    color: #000000;
}

.header-category-login{
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.english{
    border: 1px solid rgb(201, 197, 197);
    border-radius: 20px;
    padding: 5px 15px;
}

.login{
    padding: 5px 25px;
}


         /* ----------  hamburger ----------  */

 .Container-hamburger > nav{
    /* border: 1px solid red; */
    background-color: #fff;
     height: 80vh;
     width: 70%;
     display: flex;
     clip-path: circle(0% at 30px 40px);
 }



 .Container-hamburger #check{
   display: none;
 }

 .Container-hamburger .open{
     font-size: 2rem;
     color: rgb(208, 208, 208);
     position: absolute;
     top: 10px;
     left: 10px;
     cursor: pointer;
 }


 .Container-hamburger nav .close{
     font-size: 2rem;
     position: absolute;
     top: 10px;
     left: 15px;
     cursor: pointer;
       display: none;
 }

 .list{
    list-style: none;
    width: 100%;
 }



.list li a{
     display: block;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 1rem;
   padding: 20px;
   text-align: start;
   color: black;
}

.list li a::after{
    content: "";
    display: block;
    height: 2px;
}

.list li a:hover::after{
    width: 100%;
}

.Container-hamburger #check:checked ~ nav{
    clip-path: circle(100%);
}

 /* --------------- hamburger catgeory --------- */

.wedding-list-category{
    display: flex;
    gap:5px;
    margin-left: 10px;
}

.wedding-list-category > img{
     width: 30px;
     height: 20px;
     margin-top: 18px;
     justify-items: flex-start;
}

#wed {
    text-align: start;
    font-size: 1.1rem;
    font-weight: 600;
     font-style: italic;
     font-family: "Lora", "sans-serif" !important;
    color: #000000;
}


.Login-container{
    border: 1px solid rgb(0, 140, 116);
    background-color: rgb(0, 140, 116);
    height: 20vh;
    margin: auto;
}

.Login{
   text-align: center;
   justify-content: center;
    justify-items: center;
    margin: auto;
    margin-top: 50px;
   
}

.Login > #button{
    margin: auto;
    text-align: center;
    padding: 10px 80px;
    border-radius: 50px;
    justify-content: center;
    justify-items: center;
    font-family: lora;
    font-size: 1.2rem;
    background: #fff;
    border: none;
}

@media screen and (max-width:1024px) {
    .header-category{
        display: none;
    }
    .login{
        display: none;
    }
    
    
}


@media screen and (max-width:667px) {
    
}